/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
}
/* boilerplate CSS with header and basic start styles */
:root {
   --lightest-color: ghostwhite;
   --light-color: #ffffff;
   --secondary-highlight-color: #2a323c;
   --highlight-color: #1d232a;
   --dark-color: #154751;
   --darkest-color: black;
}
/* BODY */
body {
   min-height: 100vh;
   background-color: var(--secondary-highlight-color);
   /* below display flex is for footer to be at bottom*/
   display: flex;
   flex-direction: column;
}
.container {
   display: flex;
   flex-direction: column;
   margin: auto;
   width: 65%;
   background-color: var(--highlight-color);
   color: azure;
   padding: 1rem;
   border-radius: 15px;
   text-align: center;
   align-items: center;
}
.container .topNote {
   margin: 1rem;
   font-weight: 600;
   font-size: 2rem;
   display: flex;
}
.container .quizes {
   margin: 1rem;
}
.quizes .quizBtn {
   margin: auto 5px;
   width: 4.5rem;
   height: 2.5rem;
   font-weight: 800;
   border-radius: 10px;
}
#quizBtnOne {
   background-color: lightsteelblue;
   color: var(--dark-color);
}
#quizBtnTwo {
   background-color: lightyellow;
   color: var(--dark-color);
}
#quizBtnThree {
   color: var(--dark-color);
   background-color: lightpink;
}

/* QUIZ ONE CSS */
.inActiveTab {
   display: none;
}
.activeTab {
   display: flex;
}
.iUnderstandBtn {
   width: 30%;
   margin: 2rem auto 1rem auto;
   font-size: 1.4rem;
   font-weight: 600;
}
.iUnderstandBtn:hover {
   background-color: lightgray;
}
.quesAndTime {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

/* MEdia queries  */
/* for Tablet */
@media (max-width: 775px) {
   .heading {
      font-size: 1.3rem;
      margin-bottom: 1rem;
   }
   .welcomeNote {
      font-size: 1.1rem;
   }
   .container {
      width: 90%;
      margin: auto;
   }
}

/* for mobile */
@media (max-width: 475px) {
   .titles {
      padding: 0.3rem;
   }
   .title {
      font-size: 1.3em;
      width: 100%;
      justify-content: center;
   }
   .subtitle {
      display: none;
   }
   .container {
      width: 90%;
      margin: auto;
   }
   .container.quizes {
      width: 100%;
      margin: 0;
   }
   .quizes .quizBtn {
      width: 32%;
      margin: 0;
   }
}
