/* footer */
.footer {
   padding: 10px;
   padding: 0.6rem;
   background-color: black;
   font-size: 0.75em;
   text-align: center;
   width: 100%;
   margin-top: auto;
}
footer a {
   padding-bottom: 1px;
   border: 0;
   color: whitesmoke;
   text-decoration: none;
   font-weight: 600;
   font-style: italic;
}
footer a:active,
footer a:focus,
footer a:hover {
   color: darkorange;
   text-decoration: underline;
}
