*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    background-color: #8d91c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: 100%; */
    color: #252339;
    /* padding: 0 3rem 0 3rem; */
}
.heading{
    /* position: absolute; */
    text-align: center;
    /* top: 0; */
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #252339;
}
.content{
    border-radius: 10px;
    padding: 1rem;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    /* text-align: center;
    justify-content: center; */
    align-items: center;
    border-radius: 36px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: auto;
/* box-shadow:  31px 31px 27px #1d3c46,
             -31px -31px 27px #3f869c; */
}


.item{
    
    color: white;
    background-color: #252339;
    min-width: 15rem;
    max-width: 25rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    /* border-radius: 1rem; */
    border-radius: 15px;
background: linear-gradient(145deg, #212033, #28253d);
box-shadow:  8px 8px 16px #252338,
             -8px -8px 16px #25233a;
}
.links{
    display: flex;
    width: 100%;
}
.projectName{
    width: 70%;
    text-align: start;
}
.projectLink{
    width: 15%;
}
.projectGithub{
    width: 15%;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 7px; /* Rounded corners */
}
i{
    color: white;
}
.item:hover {
    transform: scale3d(1.05, 1.05, 1);
    /* border: 1px solid #ffffff; */
    filter: drop-shadow(10px);
    filter: contrast(110%);
    background-color: #684756;
}


.description{
    display: none;
}