
*{
    padding: 0;
    margin: 0;
    font-family: "Comfortaa", Tahoma, "Segoe UI";
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    /* min-width: 100vw; */
    flex-direction: column;
    background-color: #8D91C7;

}
.container{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    /* padding: 0 3rem 0 3rem; */
}

.heading{
    /* position: absolute; */
    text-align: center;
    /* top: 0; */
    padding: 1.5rem 0 1.5rem 0;
    font-size: 3.8rem;
    font-weight: bolder;
    color: whitesmoke;
    font-weight: 900;
}
.content{
    background-color: #252339;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    padding: 2rem;
    min-width: 70%;
    /* min-height: 15rem; */
    margin: 0 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
background: #252339;
box-shadow:  25px 25px 49px #13121d,
             -25px -25px 49px #383556;
             
}
.joke{
    padding: 1rem;
    font-size: 3rem;
    width: 100%;
    min-height: 15rem;
    
}
.newjoke{
    background-color: #484646;
    border: 0;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid #8D91C7;
    font-size: large;
    font-size: 2rem;
}

.newjoke:hover{
    background-color: white;
    color: black;
}

/* Footer */

.footer {
    padding: 10px;
    padding: 0.6rem;
    background: black;
    color: #CCC;
    font-size: .75em;
    text-align: center;
    width: 100%;
    margin-top: auto;
  }
  
  footer a {
    padding-bottom: 1px;
    border: 0;
    color: #e5e5e5;
    text-decoration: none;
  }
  
  footer a:active, footer a:focus, footer a:hover {
    color: lightskyblue;
    text-decoration: underline;
  }

@media (max-width: 968px) {
    .heading{
        font-size: 1.3rem;
        /* position:static; */
    }
    /* .container{
        display: flex;
    } */
    .joke{
        font-size: 1rem;
        min-height: 15rem;
        width: 100%;
    }
    .newjoke{
        font-size: 1rem;
    }
}

@media (max-width: 639px) {
    .heading{
        font-size: 1.5rem;
        /* position:static; */
    }
    /* .container{
        display: flex;
    } */
    .joke{
        /* font-size: 1.2rem; */
        /* min-height: 15rem; */
        /* width: 100%; */
    }
    .newjoke{
        font-size: 1rem;
    }
    .content{
        margin: 0 2.5rem 0 2.5rem;

    }
}
