*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   box-sizing: border-box;
}
/* boilerplate CSS with header and basic start styles */
:root {
   --lightest-color: ghostwhite;
   --light-color: #ffffff;
   --highlight-color: #45a9b5;
   --darkest-color: black;
   --dark-color: #154751;
   --secodary-highlight-color: #252339;
   --exp: "#252339";
}
/* BOILERPLATE CUSTOM SCROLL BAR CODE */
/* width */
::-webkit-scrollbar {
   width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
   /* box-shadow: inset 0 0 5px grey; */
   background: #f1f1f1;
   border-radius: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}

/* BODY */
body {
   min-height: 100vh;
   background-color: var(--highlight-color);
   /* below display flex is for footer to be at bottom*/
   display: flex;
   flex-direction: column;
}
/* header */
.header {
   background-color: var(--light-color);
   color: var(--darkest-color);
   /* margin-bottom: 1.5rem; */
}
.titles {
   display: flex;
   width: 100%;
   /* padding: 0.5rem; */
   line-height: 1;
}
.title {
   font-size: 1.5rem;
   display: flex;
   /* justify-content: end; */
   margin: 1rem;
   width: 60%;
   font-family: "Comfortaa", cursive;
   font-size: 1.5rem;
   font-weight: 800;
}
.subtitle {
   font-size: 0.99rem;
   display: flex;
   /* text-align: center; */
   justify-content: end;
   align-items: center;
   margin: 1rem;
   /* padding:0.5rem; */
   width: 40%;
   font-family: "Comfortaa", cursive;
   font-size: 1.3rem;
   font-weight: 800;
   text-align: end;
   align-items: end;
}
.container {
   display: flex;
   /* flex-direction: column; */
   /* margin: 2rem auto; */
   margin: auto;
   flex-wrap: wrap;
   width: fit-content;
   max-width: 85%;

   height: 90%;
   background: rgba(255, 250, 250, 0.6);
   padding: 1rem;
   border-radius: 15px;
   justify-content: space-evenly;
}
.addNote {
   width: 10rem;
   height: 10rem;
   background-color: var(--light-color);
   margin: 0.5rem;
   padding: 0.5rem;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.items {
   width: 10rem;
   height: 10rem;
   background-color: var(--light-color);
   margin: 0.5rem;
   padding: 0.5rem;
   /* box-sizing: content-box; */
   overflow-x: hidden;
   overflow-y: auto;
   border-radius: 15px;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   /* text-align: center; */
}
/* footer */
.footer {
   padding: 10px;
   padding: 0.6rem;
   background-color: var(--darkest-color);
   font-size: 0.75em;
   text-align: center;
   width: 100%;
   margin-top: auto;
}

footer a {
   padding-bottom: 1px;
   border: 0;
   color: var(--lightest-color);
   text-decoration: none;
   font-weight: 600;
   font-style: italic;
}

footer a:active,
footer a:focus,
footer a:hover {
   color: var(--highlight-color);
   text-decoration: underline;
}

/* MEdia queries  */
/* for Tablet */
@media (max-width: 775px) {
   .heading {
      font-size: 1.3rem;
      margin-bottom: 1rem;
   }
   .welcomeNote {
      font-size: 1.1rem;
   }
   .container {
      /* width: 15rem; */
      /* height: 15rem; */
      width: 90%;
      margin: 2rem auto;
   }
}

/* for mobile */
@media (max-width: 475px) {
   .titles {
      padding: 0.3rem;
   }
   .title {
      font-size: 1.3em;
      width: 100%;
      justify-content: center;
   }
   .subtitle {
      display: none;
   }
   .container {
      /* width: 15rem; */
      /* height: 15rem; */
      width: 90%;
      margin: 2rem auto;
   }
   /* .addNote {
      width: 30%;
      height: 8rem;
   }
   .items {
      width: 30%;
      height: 8rem;
   } */
}
