*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   font-family: "Comfortaa", cursive;
   box-sizing: border-box;
}
/* boilerplate CSS with header and basic start styles */
:root {
   --lightest-color: ghostwhite;
   --light-color: #ffffff;
   --highlight-color: #45a9b5;
   --darkest-color: black;
   --dark-color: #154751;
   --secodary-highlight-color: #252339;
   --exp: "#252339";
}
body {
   min-height: 100vh;
   background-color: var(--dark-color);
   /* below display flex is for footer to be at bottom*/
   display: flex;
   flex-direction: column;
}
/* header */
.header {
   background-color: var(--light-color);
   color: var(--darkest-color);
   /* margin-bottom: 1.5rem; */
}
.titles {
   display: flex;
   width: 100%;
   /* padding: 0.5rem; */
   line-height: 1;
}
.title {
   font-size: 1.5rem;
   display: flex;
   /* justify-content: end; */
   margin: 1rem;
   width: 60%;
   /* font-family: 'Comfortaa', cursive; */
   font-size: 1.5rem;
   font-weight: 800;
}
.subtitle {
   font-size: 0.99rem;
   display: flex;
   /* text-align: center; */
   justify-content: end;
   align-items: center;
   margin: 1rem;
   /* padding:0.5rem; */
   width: 40%;
   /* font-family: 'Comfortaa', cursive; */
   font-size: 1.3rem;
   font-weight: 800;
   text-align: end;
   align-items: end;
}
.container {
   display: flex;
   flex-direction: column;
   /* margin: 2rem auto; */
   margin: auto;
   /* width: 25rem; */
}
.row1 {
   width: 100%;
}
.r1,
.r2,
.r3 {
   width: 25%;
}

.rows {
   display: flex;
}
.items {
   background-color: var(--light-color);
   margin: 0.5rem;
   min-height: 6rem;
   min-width: 6rem;
   text-align: center;
   align-content: center;
}
.card {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
   border-radius: 105px;
}
.card.show {
   transform: rotateY(360deg);
   transition-duration: 300ms;
}
.front {
   font-size: 3rem;
   background-color: white;
   color: #154751;
   /* width: 100%; */
   /* min-height:5rem; */
   /* height: 100%; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* transform: rotateY(360deg); */
   /* transition-duration: 300ms; */
}

.back {
   background-color: var(--highlight-color);
   color: var(--light-color);
   font-size: 2rem;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* transform: rotateY(180deg); */
   /* transition-duration: 300ms; */
   display: none;
}

/* .back svg{
    height: auto;
}
.back i{
    height: auto;
} */
/* footer */
.footer {
   padding: 10px;
   padding: 0.6rem;
   background-color: var(--darkest-color);
   font-size: 0.75em;
   text-align: center;
   width: 100%;
   margin-top: auto;
}

footer a {
   padding-bottom: 1px;
   border: 0;
   color: var(--lightest-color);
   text-decoration: none;
   font-weight: 600;
   font-style: italic;
}

footer a:active,
footer a:focus,
footer a:hover {
   color: var(--highlight-color);
   text-decoration: underline;
}

/* MEdia queries  */
/* for Tablet */
@media (max-width: 775px) {
   .heading {
      font-size: 1.3rem;
      margin-bottom: 1rem;
   }
   .welcomeNote {
      font-size: 1.1rem;
   }
   .hours {
      border: 4.5px solid black;
   }
}

/* for mobile */
@media (max-width: 475px) {
   .titles {
      padding: 0.3rem;
   }
   .title {
      font-size: 1.3em;
      width: 100%;
      justify-content: center;
   }
   .subtitle {
      display: none;
   }
   .container {
      /* width: 15rem; */
      /* height: 15rem; */
      margin: 2rem auto;
   }
   .items {
      background-color: var(--dark-color);
      margin: 0.5rem;
      min-height: 3.5rem;
      min-width: 3.5rem;
   }
   .front {
      font-size: 2.5rem;
      width: 100%;
   }
}
