*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: tahoma;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F8F0E3;

}
.header {
    background-color:black;
    color: whitesmoke;

}
.titles{
    display: flex;
    width: 100%;
    /* padding: 0.5rem; */
}
.title{
    font-size: 1.5rem;
    display: flex;
    /* justify-content: end; */
    margin:1rem ;
    width: 40%;
    font-family: 'Comfortaa', cursive;


}
.subtitle{
    font-size: 0.99rem;
    display: flex;
    /* text-align: center; */
    justify-content: end;
    align-items:center;
    margin:1rem ;
    /* padding:0.5rem; */
    width: 60%;
    font-family: 'Comfortaa', cursive;

}


.container{
    padding-top: 5%;
    /*  this is for chrome extenstion */
    /* width: 16rem; 
    height: 14rem;  */

}
.contentbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color:#706969;
    border-radius: 15px;
    min-height: 60vh;
     margin: 0% 18% 5% 18%;
    /* below for chrome ext */
    /* margin: 0% 5% 15% 5%; */
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.display{
    width: 100%;
    padding: 2%;
}

/* INPUT STYLES */
.display input{
    width: 100%;
    color: black;
    background-color: white;
    height: 5rem;
    border-radius: 10px;
    text-align: end;
    font-size:3rem;
    /* padding-left:1rem; */
}

.btns{
    padding: 5%;
    margin: 5%;
    display: flex;
    justify-content: center;
    background-color: #F56707;
    border: 0.1px solid lightgray;
    border-radius: 10px;
    color: antiquewhite;
}
.btns:active {
    background-color: yellowgreen;
    color: black;
  }

.btnscolorvariant{
    background-color: rgb(11, 11, 101);
    color: white;
    padding: 5%;
    margin: 5%;
    display: flex;
    justify-content: center;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
}
.btnscolorvariantSPL{
    background-color: rgb(49, 202, 95);
    color: white;
    padding: 5%;
    margin: 5%;
    display: flex;
    justify-content: center;
    border: 0.1px solid lightgray;
    border-radius: 10px;
}
.btnscolorvariantSPL:active {
    background-color: yellowgreen;
    color: black;
  }

.col1{
    width: 100%;
}
.col2{
    width: 100%;
}
.col3{
    width: 100%;
}
.col4{
    width: 100%;
}

.footer {
    padding: 10px;
    padding: 0.6rem;
    background-color:black;
    font-size: .75em;
    text-align: center;
    width: 100%;
    margin-top: auto;
    
  }
  
  footer a {
    padding-bottom: 1px;
    border: 0;
    color: lightgray;
    text-decoration: none;
  }
  
  footer a:active, footer a:focus, footer a:hover {
    color: #F56707;
    text-decoration: underline;
  }



  /* responsive */
  @media (max-width: 639px) {
    .titles{
        padding: 0.3rem;
    }
    .title {
        font-size: 1.2em;
        width: 100%;
        justify-content: center;
    }
    .subtitle{
        display: none;
    }
    .contentbox{
        margin: 0% 10% 15% 10%;

    }
   .display input {
    font-size: 2rem;
   }
}